.header {
  text-align: left;
  background-color: #222;
  height: 60px;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
}

.header-title {
  color: white;
  text-align: center;
}

.canvas {
  position: fixed;
  width: 100%;
  height : calc(100% - 60px);
  top: 60px;
  overflow: hidden;
}

.sheet {
  width: 100%;
  height: 100%;
}

.toolbar-button {
  border-radius: 5%;
  width: 60px;
  height: 22px;
  margin-top: 4px;
  margin-right: 4px;
  cursor: pointer;
  border: 2px solid darkgray;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: all .1s ease-in;
  text-decoration: none;
  display: flex;
}

.mosaic-window_horizontal {
  flex-direction: row;
}

.mosaic-window_horizontal .mosaic-window-title {
  padding: 0 15px;
}

.mosaic-root .mosaic-window.mosaic-window_horizontal .mosaic-window-toolbar {
  box-shadow: 1px 0 1px rgba(16, 22, 26, 0.2);
  border-top-right-radius: 0;
  height: 100%;
}

.mosaic-root .mosaic-window.mosaic-window_horizontal .mosaic-window-body {
  height: auto;
  border-bottom-left-radius: 0;
}
